<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict/>
	<dict>
		<key>action</key>
		<string>clickForExamSchedule</string>
		<key>cell</key>
		<string>考试安排</string>
		<key>img</key>
		<string>考试安排.png</string>
	</dict>
	<dict>
		<key>action</key>
		<string>clickForExamSchedule</string>
		<key>cell</key>
		<string>补考安排</string>
		<key>img</key>
		<string>补考安排.png</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>期末成绩</string>
		<key>controller</key>
		<string>ExamGradeViewController</string>
		<key>img</key>
		<string>期末成绩.png</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>空教室</string>
		<key>controller</key>
		<string>EmptyClassViewController</string>
		<key>img</key>
		<string>空教室.png</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>没课约</string>
		<key>controller</key>
		<string>QGERestTimeCourseViewController</string>
		<key>img</key>
		<string>校历.png</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>校历</string>
		<key>controller</key>
		<string>CalendarViewController</string>
		<key>img</key>
		<string>校历.png</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>反馈信息</string>
		<key>controller</key>
		<string>SuggestionViewController</string>
		<key>img</key>
		<string>反馈信息.png</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>关于</string>
		<key>controller</key>
		<string>XBSAboutViewController</string>
		<key>img</key>
		<string>关于.png</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>退出登录</string>
		<key>img</key>
		<string>tuichu_red_blod.png</string>
	</dict>
</array>
</plist>
